<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory homepage</title>
</head>
<body>
    <h1>Welcome to inventory app</h1>
    <div>
        <a th:href="@{/categories}">List categories</a>
        <br>
        <a th:href="@{/categories/new}">Create category</a>
        <br>
        <a th:href="@{/products}">List products</a>
        <br>
        <a th:href="@{/products/new}">Create product</a>
        <br>
        <a th:href="@{/brands}">List brands</a>
        <br>
        <a th:href="@{/brands/new}">Create brand</a>
    </div>
</body>
</html>